* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: #181938;
}
img {
  width: 100%;
}

a{
 text-decoration: none;

}

.contact{
  color: #181938;
}

.contact:hover{
  text-decoration: underline;
  color: #F38584;
}

.container {
  display: grid;
  grid-template-rows: .1fr .1fr 1fr;
  
}

.test{
  display: grid;
  grid-template-colums: 1fr 1fr;
}

.navigation {
  display: flex;
  justify-content: center;

}

.navigation_side {
  display: grid;
  padding-right: 10px;
  grid-gap: 3px;
  justify-content: center;
}
.navigation_item--1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;
  
}

.navigation_item--1:hover{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;
  transition: .5s ease;

}

.title{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;

}
.info_picture{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  padding: 3px;
}

footer{
  display: flex;
  justify-content: center;
  margin: 15px;
}


.info_pictureitem--1 {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 3px;
  
}
.info_picture {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.info_pictureitem--1:hover .image {
  opacity: 0.3;
}

.info_pictureitem--1:hover .middle {
  opacity: 1;
}

.project_information {
  display: grid;
  grid-template-rows: 0.08fr 1fr;
}

.info {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;
  text-decoration: underline;
}
.picture_and_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info_intro {
  font-size: 25px;
  color: #181938;
  font-weight: normal;
  margin: 10px;
  padding: 3px;
}

.picture_info {
  margin-left: 80px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  max-width: 500px;
}



.collapsible {
  background-color:#f18583;
  color: #181938;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #AD605E;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}