* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  margin: 2rem auto;
  width: 90%;
  background-color: yellow;
}

header {
  display: grid;
  grid-template-rows: 0.5fr 0.25fr 5fr;
  background-color: pink;
}

.banner {
  display: flex;
  justify-content: center;
}
.header_item--1 {
  background-color: red;
  max-width: 90px;
  min-height: 72px;
  margin-top: 0.5%;
  margin-bottom: 1%;
}

.banner_divide {
  background-color: purple;
  max-height: 15px;
}
.below_header {
  display: grid;
  grid-template-columns: 7fr 3fr;
  max-height: 3rem;
}

.below_header--1 {
  display: flex;

  margin: 1%;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1%;
}

.navigation_item--1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;
  background-color: white;
}

.navigation_item--1:hover{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;
  background-color: black;
  color: white;
  transition-duration: .3s;
}

#hero-image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  background-color: blue;
}
.page1 {
  display: grid;
  grid-template-rows: 0.08fr 1fr;
}

.projects {
  display: flex;
  justify-content: center;
  background-color: green;
  margin: 10px;
  padding: 3px;
}

.page1_grid_9 {
  list-style: none;
  display: grid;
  border: 0.2em solid #91a7ff;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: red;
}

.page2 {
  background-color: pink;
  display: grid;
  grid-template-rows: 0.08fr 0.08fr 1fr;
}

.skill_header {
  background-color: yellow;
}
.skills {
  display: flex;
  justify-content: center;
  background-color: green;
  margin: 10px;
  padding: 3px;
}

.skills_descriptions {
  display: flex;
  justify-content: center;
  background-color: green;
  margin: 10px;
  padding: 3px;
}

.descriptions {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills_and_languages {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gird-gap: 2px;
}
.skills_grid_9 {
  list-style: none;
  display: grid;
  border: 0.2em solid #91a7ff;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
.languages_grid_9 {
  list-style: none;
  display: grid;
  border: 0.2em solid #91a7ff;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.page3 {
  background-color: grey;
  display: grid;
  grid-template-rows: 0.08fr 1fr;
}

.bio {
  display: flex;
  justify-content: center;
  background-color: green;
  margin: 10px;
  padding: 3px;
}
.picture_and_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info {
  margin: 10px;
  padding: 3px;
  background-color: yellow;
}
.picture {
  margin: 10px;
  padding: 3px;
  background-color: red;
}

.page4{
  display: grid;
  grid-template-rows: .08fr 1fr;
  background-color: green;

}
.resume_description{
  background-color: pink;
   display: flex;
  justify-content: center;
   margin: 10px;
  padding: 3px;
}
.resume{
   display: flex;
  background-color: pink;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
  padding: 3px;
}
.page5{
  display: grid;
  grid-template-rows: .08fr 1fr;
  background-color: green;

}
.contact_description{
  background-color: pink;
   display: flex;
  justify-content: center;
   margin: 10px;
  padding: 3px;
}
.contact{
   display: flex;
  background-color: pink;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
  padding: 3px;
}