body{
  background-color: #F8EDF1;

}

a:visited{
color: #131737;
}



.navigation_item--1 {
   border-radius: 25px;
    color: #181938;
   background-color: #F18583;
}

.navigation_item--1:hover{

  background-color: #C0EE6B;
}




.page1 {

}

.projects {

}

.page1_grid_9 {
  margin: 10px;
}
li {

}

.text {
  background-color: white;
  color: 131737;

}

.skills_grid_9 {

margin: 10px;

}
.languages_grid_9 {
margin: 10px;

}

h2{
  font-weight: 200;
}
