<h1 id="art">Artwork</h1>

<div class="grid-container">
    <div class="grid-item">
        <project-card 
        titleFront = "Animation"
        titleBack = "Animation"
        description = "2D, 3D, and Rotoscope Animations"
        link = "https://vimeo.com/user20411739"
        linkDescription = "View Animations"
        projectImage = "../../assets/images/animations.png">
        </project-card>
    </div>
    <div class="grid-item">
        <project-card 
        titleFront = "Illustrations"
        titleBack = "Illustrations"
        description = "Digital and traditional illustrations"
        link = "https://www.instagram.com/rileyjeano/z"
        linkDescription = "View Illustrations"
        projectImage = "../../assets/images/illustrations.png">
        </project-card>
    </div>
  </div>