<div class="toolbar" role="banner">
    <img id = "logo"
      alt="Angular Logo"
      src="../../assets/images/logo3.png"
    />

    <div class="grid-container">
        <div class="grid-item">
          <oButton text="Works" targetLocation = "#works"></oButton>
          </div>
        <div class="grid-item">
          <oButton text="Contact" targetLocation="#aboutMe"></oButton>
        </div>
        <div class="grid-item">
          <oButton text="Resume" targetLocation="#resume"></oButton>
        </div>  
        <div class="grid-item">
          <oButton text="Art" targetLocation="#art"></oButton>
        </div>  
      </div>
  </div>