<h1>Programming Work</h1>

<div class="grid-container">
    <div class="grid-item">
        <project-card 
        titleFront = "Memoria Repair"
        titleBack = "Video Game"
        description = "This video game was a solo project programmed in C#"
        link = "https://vimeo.com/250336605"
        linkDescription = "Link To Game"
        projectImage = "../../assets/images/memoriaRepair.jpg">
        </project-card>
    </div>
    <div class="grid-item">
        <project-card 
        titleFront = "Virtual Pet"
        titleBack = "Software Application / Video Game"
        description = "The program was created in java"
        link = "https://github.com/RileyJeano/virtual-pet2"
        linkDescription = "Link To Project"
        projectImage = "../../assets/images/pet.jpg">
        </project-card>
    </div>
    <div class="grid-item">
        <project-card 
        titleFront = "Light Experiment"
        titleBack = "Video Game"
        description = "This video game was a team project programmed in C# in Unity. It utilizes light and physics as game mechanics."
        link = "https://vimeo.com/258341819"
        linkDescription = "Link To Game"
        projectImage = "../../assets/images/lightExperiment.jpg">
        </project-card>
    </div>  
  </div>

