<div class="about-me-container">
    <h1 id="aboutMe">Contanct Me</h1>
    <h2>You can contact me at these places. I'd love to hear from you! </h2>
    <h2>Email: rileyjeanpatrick@gmail.com </h2>
    <div class="grid-container">
        <div class="grid-item">
          <oButton-outside text="LinkedIn" targetLocation = "https://www.linkedin.com/in/riley-patrick/" ></oButton-outside>
          </div>
        <div class="grid-item">
          <oButton-outside text="Github" targetLocation="https://github.com/RileyJeano"></oButton-outside>
        </div>

      </div>
</div>