<div class="grid-container">
    <div class="grid-item" id="heroText">
        <div>
            <h2>Hi! I'm Riley Patrick.</h2>
            <h3>Current Sr. Software Developer and UX Designer</h3>
            <h4>I have a passion for accessibility and inlcusive design</h4>
            <h4>I specialize in front end programming with an emphesis on Agile, XP, and TDD</h4>
            <h4>I have a background in animation, interactive media, and graphic design</h4>
          
            
        </div>
    </div>
    <div class="grid-item">
        <img id="hero-image" src="../../assets/images/MeAnimation3.gif"  alt="Self Portrait Animation">
    </div>
  </div>
