h1{
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    background-color: #E6EBDA;
    font-family: Quintessential;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: .2rem;
    font-size: 1.15rem;
    text-align: center;
    grid-gap: 1rem;
  }

  @media screen and (max-width: 1000px) {
    .grid-container {
      display: block;
      grid-template-rows: 55% 55%;
      padding: .2rem;
      text-align: center;
    }
  }