<h1 id="works">UX Work</h1>

<div class="grid-container">
    <div class="grid-item">
        <project-card 
        titleFront = "Adult Reading App"
        titleBack = "Adult Reading App"
        description = "This project was created to prototype an app to help adults find books to help them learn to read"
        link = "https://docs.google.com/presentation/d/1gP04wQiRU96RFMwiddBfbSluuRsFXf_fqHueVUEdTeQ/edit?usp=sharing"
        linkDescription = "Link To Case Study"
        projectImage = "../../assets/images/uxImage3.png">
        </project-card>
    </div>
    <div class="grid-item">
        <project-card 
        titleFront = "Pet Adoption App"
        titleBack = "Pet Adoption App"
        description = "This project was created to prototype an app for adopting pets from a local shelter"
        link = "https://docs.google.com/presentation/d/1xdie-5vROI5kvV6_kXPPYZBix0X50HdwUPA7lkkGYIk/edit?usp=sharing"
        linkDescription = "Link To Case Study"
        projectImage = "../../assets/images/uxImage2.png">
        </project-card>
    </div>
    <div class="grid-item">
        <project-card 
        titleFront = "Food Ordering App"
        titleBack = "Food Ordering App"
        description = "This project was created to prototype an app for ordering food from a local restaurant"
        link = "https://docs.google.com/presentation/d/1t5hlbAmjPI4kXrJpac_ReBJlED5boFthC51EPz6jCvY/edit?usp=sharing"
        linkDescription = "Link To Case Study"
        projectImage = "../../assets/images/uxImage1.png">
        </project-card>
    </div>  
  </div>

