h1{
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    background-color: #E6EBDA;
    font-family: Quintessential;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}